@charset "UTF-8";

body {
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

#titulo-principal {
    text-align: center;
    background-color: blue;
    color: white;
}

h1 {
    color: #003785;
}

h2 {
    color: #2196f3;
}

.basico {
    color: #09ac91;

}

.intermediario {
    color: #0e7e65;
}

.avancado {
    color: #094949;
}

